.nav-img {
    padding-left: 10px; /* Equal to width of new image */
}

.navbar-brand {
    text-align: left;
    float: left;
}

.start-div {
    position: fixed;
    bottom: auto;
    left: 30pc;
    float: left;    
}
#message {
    font-size: 16px;
    max-width: 700px;
    margin-left: 10px;
    padding-left: 15px;
}
#message h1 {
    font-size: 24px;
}

#scorediv {
    position: relative;
    float: center; 
}
#scorediv h1{
    font-size: 24px;
}
#scorediv p{
    font-size: 16px;
}

.choices:hover { 
    background-color: yellow;
}

#start {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 30px;
    border-color: transparent transparent transparent green;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 22px 0 22px 40px;
    vertical-align: top;
  }

.timer-green {
    text-align: center;
    float: center;
    font-size: 28px;
    color: green;
}

.timer-red {
    text-align: center;
    float: center;
    font-size: 30px;
    color: red;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: red;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: red;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: red;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: red;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: red;
    }
  }